In [3]:
import requests


from bs4 import BeautifulSoup


import pandas as pd


import numpy as np


import plotly.express as px

In [4]:
# Localizamos uma cidade usando o próprio serviço de clima-tempo
url = "https://www.tempo.com/taboao-da-serra.htm?d=proxima-semana"

In [5]:
# usamos a biblioteca requests para fazer o download da página web
page = requests.get( url )
page

In [6]:
# criamos um objeto beautiful soup para poder fazer a raspagem dos dados
soup = BeautifulSoup(page.content, 'html.parser')
#soup
#print(soup.prettify())

In [57]:
# após investigar, com um navegador web, a estrutura da página e localizar o elemento HTML que queremos, aplicamos o comando
seven_day = soup.find(class_="datos-dos-semanas")
#seven_day

In [121]:
forecast_items = seven_day.find_all(class_= "maxima changeUnitT")

In [122]:
print(terca.prettify())

<span class="temperatura">
 <span class="maxima changeUnitT" data="22.69|0|">
  23°
 </span>
 <span class="barra">
  /
 </span>
 <span class="minima changeUnitT" data="8.52|0|">
  9°
 </span>
</span>

In [125]:
terca = forecast_items[0]
termax = terca.get_text()

In [126]:
quarta = forecast_items[1]
quamax = quarta.get_text()

In [127]:
quinta = forecast_items[2]
quimax = quinta.get_text()

In [128]:
sexta = forecast_items[3]
sexmax = sexta.get_text()

In [129]:
sabado = forecast_items[4]
sabmax = sabado.get_text()

In [131]:
domingo = forecast_items[5]
dommax = domingo.get_text()

In [132]:
segunda = forecast_items[6]
segmax = segunda.get_text()

In [134]:
semana_max = [termax, quamax, quimax, sexmax, sabmax, dommax, segmax]

In [146]:
semana_max

['23°', '24°', '23°', '23°', '25°', '24°', '25°']

In [147]:
df_semana_max = pd.DataFrame(semana_max)

In [149]:
df_semana_max

     0
0  23°
1  24°
2  23°
3  23°
4  25°
5  24°
6  25°

In [156]:
df_semana_max = df_semana_max.reset_index()

In [157]:
df_semana_max

   index    0
0      0  23°
1      1  24°
2      2  23°
3      3  23°
4      4  25°
5      5  24°
6      6  25°

In [175]:
df_semana_max.columns = ["dia", "tempmax"]

In [177]:
df_semana_max

   dia tempmax
0    0     23°
1    1     24°
2    2     23°
3    3     23°
4    4     25°
5    5     24°
6    6     25°

C:\Users\Felipe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  exec(code_obj, self.user_global_ns, self.user_ns)

KeyError: 'tempmax'

   dia temp_max
0    0      23°
1    1      24°
2    2      23°
3    3      23°
4    4      25°
5    5      24°
6    6      25°